{% load staticfiles %}
{% for post in post_list %}
    <div class="post post-{{ post.pk }}" style="margin: 15px 0px">
        <h4 class="post-title">
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        </h4>
        <div class="post-content">
            <p>{{ post.digest }}</p>
        </div>
        <div class="post-meta">
            <div>
                <span class="post-category">{{ post.category.name }}</span>
                <time class="post-date"
                      datetime="{{ post.created_time }}">{{ post.created_time|date:"Y-m-d" }}</time>
                <span class="post-author">{{ post.author }}</span>
                <span class="comments-link">{% if post.comment_num > 0 %}{{ post.comment_num }} {% else %}0{% endif %} 评论</span>
                <span class="views-count">{{ post.view_num }} 阅读</span>
            </div>
            <div class="read-more">
                <a href="{{ post.get_absolute_url }}" class="more-link">继续阅读 <span class="meta-nav">→</span></a>
            </div>
        </div>
    </div>
{% empty %}
    <div class="no-post">暂时还没有发布的文章！</div>
{% endfor %}
<nav aria-label="Page navigation">
    <div>
        <select id='post_per_page' onchange="post_per_page_change()" name="每页数量">
            <option value="3">3</option>
            <option value="10">10</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
        <span>条每页</span>
    </div>
    <ul class="pagination">
        <li class="{{ last_page_class }}">
            <a href="{{ last_page_href }}" aria-label="Previous">
                <span aria-hidden="true"> < 上一页</span>
            </a>
        </li>
        {{ page_index }}
        <li class="{{ next_page_class }}">
            <a href="{{ next_page_href }}" aria-label="Next">
                <span aria-hidden="true">下一页 > </span>
            </a>
        </li>
        <li style="padding-left: 20px">
            共{{ max_page_num }}页
        </li>
        <li style="padding-left: 15px">
            到第<input id="choose_page" style="padding: 5px; margin: 0 3px;
    border: 1px solid #ddd" size="3" maxlength="3"/>页
        </li>
        <li style="padding-left: 10px">
            <button onclick="go_page()">确定</button>
        </li>
    </ul>
</nav>
<script type="text/javascript" src="{% static 'js/jquery.cookie.js' %}">
</script>
<script>
    $(
        function () {
            const post_per_page = $.cookie('post_per_page');
            if (post_per_page) {
                $('#post_per_page').val(post_per_page);
            }
        }
    );

    function post_per_page_change() {
        const val = $('#post_per_page').val();
        console.log(val);
        $.cookie("post_per_page", val, {expires: 1, path: "{% url 'blog:index' %}"});
        location.reload();
    };

    function go_page() {
        const p = document.getElementById('choose_page').value;
        const url = "{% url 'blog:index' %}" + "?p=" + p;
        window.open(url, '_self');
    };
</script>
