{% extends 'base.html' %}

{% block title %} {{ post.title }} {% endblock %}

{% block body %}
    <div id="post-detail">
        {% if post %}
            <!-- 文章内容 -->
            <article class="post post-{{ post.pk }}" style="padding: 15px 25px;" >
                <h1 class="post-title">
                    {{ post.title }}
                </h1>
                <div class="post-meta" style="text-align: right">
                    <span class="post-category">{{ post.category.name }}</span>
                    <span class="post-date"><time class="entry-date"
                                                  datetime="{{ post.created_time }}">{{ post.created_time|date:"Y-m-d H:i:s" }}</time></span>
                    <span class="post-author">{{ post.author }}</span>
                    <span class="comments-link" id="comment-num">{{ post.comment_num }}评论</span>
                    <span class="views-count" id="view-num">{{ post.view_num }}阅读</span>
                </div>
                <div class="post-content" style="padding-bottom: 10px">
                    <span>
                        {{ post.body|safe }}
                    </span>
                </div>
            </article>
            <!-- end of 文章内容-->

            <!-- 发表评论 -->
            {% include 'blog/comment.html' %}
            <!-- 结束发表评论 -->

            <section class="comment-area" id="comment-area">
                <!-- 显示评论 -->
                <div class="comment-list-panel">
                    {% if comment_list %}
                        <h3>评论列表，共 <span>{{ post.comment_num }}</span> 条评论</h3>
                        <ul class="comment-list list-unstyled">
                            {% for comment in comment_list %}
                                <li class="comment-item">
                                    <span class="nickname">{{ comment.user }}</span>
                                    <time class="submit-date"
                                          datetime="2012-11-09T23:15:57+00:00">{{ comment.create_time|date:"Y-m-d H:i:s" }}</time>
                                    <div class="text">
                                        {{ comment.body }}
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                </div>
                <!-- end of 显示评论-->
            </section>
            <!-- end of 评论-->
        {% endif %}
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        function onload_detail() {
            //判断是否宽屏
            let winWide = document.body.clientWidth;
            console.log(winWide);
            if (winWide >= 1000) {
                $('#post-detail').addClass('col-md-8');
                $('#post-detail').addClass('container-magin');
                $('.post').addClass('container-magin');
            };
        };
        window.onload = onload_detail();
    </script>
{% endblock %}