{% load staticfiles %}
<div id="base-aside">
    <div class="widget">
        <div class="illustration">
            <div><img src="/static/img/social/head.png" alt="jwang106"></div>
            <div><h2 id="hi" style="font-size: 28px">Hi, I'm jwang106</h2></div>
            <p>
                Software Engineer at Beijing
                <br>Free Software developer
                <br>I code in Python, C++, JavaScript/Node.js
            </p>
            <div class="hidden share-btn">
                <button class="hidden" onclick="call()">通用分享</button>
                <button class="hidden" onclick="call('wechatFriend')">微信好友</button>
                <button class="hidden" onclick="call('wechatTimeline')">朋友圈</button>
                <button class="hidden" onclick="call('qqFriend')">QQ</button>
                <button class="hidden" onclick="call('qZone')">QQ空间</button>
            </div>
            <div class="social-logos">
                <a href="javascript:void(0)" onclick="call('weibo')" target="_blank">
                    <img src="{% static 'img/social/webicon-weibo-m.png' %}"
                         alt="E-mail">
                </a>
                <a href="mailto:wangjiale1102@163.com" target="_blank">
                    <img src="{% static 'img/social/webicon-mail-m.png' %}"
                         alt="E-mail">
                </a>
                <a href="https://www.cnblogs.com/wangjiale1024" title="wangjiale's cnblog"
                   target="_blank">
                    <img src="{% static 'img/social/webicon-rss-m.png' %}"
                         alt="RSS feed">
                </a>
                <a href="https://github.com/jwang106git" title="jwang106 on GitHub"
                   target="_blank">
                    <img src="{% static 'img/social/webicon-github-m.png' %}"
                         alt="GitHub logo">
                </a>
                <a href="javascript:void(0)" onclick="reP('pay-wechat-pop')" title="jwang106 on GitHub"
                   target="_blank">
                    <img src="{% static 'img/social/webicon-wechat-m.png' %}"
                         alt="Wechat logo">
                </a>
                <a href="javascript:void(0)" onclick="reP('pay-alipay-pop')" title="jwang106 on GitHub"
                   target="_blank">
                    <img src="{% static 'img/social/webicon-alipay-m.png' %}"
                         alt="Alipay logo">
                </a>
                <div id="pay-pop" style='display:none; position: fixed; top:20%; left: 30%; width:300px; height:300px;'>
                    <div onclick="clP()" style="position: absolute; top: -5px; right:-5px; width: 20px; height: 20px;
                    z-index: 100">
                        <img src="{% static 'img/social/close.png' %}">
                    </div>
                    <img src="{% static 'img/social/pay-wechat.jpg' %}" id="pay-wechat-pop"
                         style="z-index: 99; display: none">
                    <img src="{% static 'img/social/pay-alipay.jpg' %}" id="pay-alipay-pop"
                         style="z-index: 99; display: none">
                </div>
            </div>
        </div>
    </div>
    {% if post_list_newest %}
        <div class="widget widget-recent-posts">
            <!--todo 使用缓存-->
            <h3 class="widget-title">最新文章</h3>
            <ul>
                {% for post in post_list_newest %}
                    <li>
                        <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <div class="widget widget-archives">
        <h3 class="widget-title">归档(建设中)</h3>
        <ul>
            <li>
                <a href="#">2017 年 5 月</a>
            </li>
            <li>
                <a href="#">2017 年 4 月</a>
            </li>
            <li>
                <a href="#">2017 年 3 月</a>
            </li>
        </ul>
        <a href="#"><h3 class="widget-title">更多日期</h3></a>
    </div>

    <div class="widget widget-category">
        <h3 class="widget-title">分类(建设中)</h3>
        <ul>
            <li>
                <a href="#">Django 博客教程 <span class="post-count">(13)</span></a>
            </li>
            <li>
                <a href="#">Python 教程 <span class="post-count">(11)</span></a>
            </li>
            <li>
                <a href="#">Django 用户认证 <span class="post-count">(8)</span></a>
            </li>
        </ul>
    </div>

    <div class="widget widget-tag-cloud">
        <h3 class="widget-title">标签云(建设中)</h3>
        <ul>
            <li>
                <a href="#">Django</a>
            </li>
            <li>
                <a href="#">Python</a>
            </li>
            <li>
                <a href="#">Java</a>
            </li>
            <li>
                <a href="#">笔记</a>
            </li>
            <li>
                <a href="#">文档</a>
            </li>
            <li>
                <a href="#">AngularJS</a>
            </li>
            <li>
                <a href="#">CSS</a>
            </li>
            <li>
                <a href="#">JavaScript</a>
            </li>
            <li>
                <a href="#">Snippet</a>
            </li>
            <li>
                <a href="#">jQuery</a>
            </li>
        </ul>
    </div>
    <div class="widget rss">
        <a href="#"><span class="ion-social-rss-outline"></span> RSS 订阅</a>
    </div>
</div>

<SCRIPT LANGUAGE="JavaScript">
    function reP(pic) {
        document.getElementById('pay-wechat-pop').style.display = "none";
        document.getElementById('pay-alipay-pop').style.display = "none";
        document.getElementById('pay-pop').style.display = "block";
        document.getElementById(pic).style.display = "block";
    };

    function clP() {
        document.getElementById('pay-wechat-pop').style.display = "none";
        document.getElementById('pay-alipay-pop').style.display = "none";
        document.getElementById('pay-pop').style.display = "none";
    }
</SCRIPT>
