<!-- bottom nav -->
<nav id="base-nav-bottom" class="navbar navbar-default navbar-fixed-bottom" style="background-color: #eee";>
    <ul class="nav navbar-nav" width="100%" style="padding: 0 20px;">
        <li class="col-sm-3 col-xs-3">博客</li>
        <li class="col-sm-3 col-xs-3">爬虫</li>
        <li class="col-sm-3 col-xs-3">留言</li>
        <li class="col-sm-3 col-xs-3">个人中心</li>
    </ul>
</nav>

<style type="text/css">
	.base-nav-bottom > ul {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.base-nav-bottom > ul > li {
		text-align: center;
	}
</style>
<!-- end of bottom nav -->