{% extends 'base.html' %}

{% block title %} 佳乐博客 登录 {% endblock %}

{% block body %}
    <div class="col-md-8">
        <div class="login">
            <div style="font-size: 25px; font-weight: bold;text-align: center;">
                用户登录
            </div>
            <form role="form" novalidate="NOVALIDATE">
                <div class="form-group">
                    <label for="username">{{ form.username.label }}</label>
                    {{ form.username }} <span style="color: red">{{ form.username.errors }}</span>
                </div>
                <div class="form-group">
                    <label for="password">{{ form.password.label }}</label>
                    {{ form.password }}<span style="color: red">{{ form.password.errors.0 }}</span>
                </div>
                <div class="form-group">
                    <label>验证码</label> <input type="text" id="vcode" name="vcode" maxlength="4"/>
                    <span id="imgVcode"><img src="{% url 'auth:verify_code' 1 %}"/></span>
                    <a onclick="refreshVcode()" href="javascript:0"><span>换一张</span></a>
                </div>
                <input name="url_before" type="hidden" value="{{ url_before }}" class="form-group"/>
                {% csrf_token %}
                <input type="button" id="btnAuthLogin" value="登录"/>
                <div style="color: red" id="authErrorMsg"></div>
            </form>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        $(function () {

            $('#btnAuthLogin').click(function () {
                const csrf = $("input[name='csrfmiddlewaretoken']").val();
                console.log("csrf is" + csrf);
                const vcode = $('#vcode').val();
                const username = $("input[name='username']").val();
                const password = $("input[name='password']").val();
                const url_before = $("input[name='url_before']").val();
                $('#vcode').val("");
                $("input[name='username']").val("");
                $("input[name='password']").val("");
                //发起ajax请求，注意csrf攻击
                $.post("{% url 'auth:ajax_check' %}", {
                    'csrfmiddlewaretoken': csrf,
                    'username': username,
                    'password': password,
                    'vcode': vcode,
                    'url_before': url_before,
                }, function (data) {
                    //获取返回的数据并进行操作
                    if (data.msg === 'ok') {
                        //登录成功
                        console.log(data.url);

                        location.href = data.url //跳转到成功页面
                    } else if (data.msg === 'fail_verify') {
                        //验证码错误
                        $('#authErrorMsg').show().text('验证码错误！');
                        refreshVcode();
                    } else if (data.msg === 'fail_user') {
                        $('#authErrorMsg').show().text('用户名或密码错误！');
                        refreshVcode();
                    }
                })
            });
        });

        function refreshVcode() {
            const temp_url = "{% url 'auth:verify_code' 1 %}" + Math.ceil(Math.random() * 10).toString();
            const temp_html = "<img src=" + '"' + temp_url + '"' + "/>";
            $('#imgVcode').html(temp_html);
        }
    </script>
    <script>
        $(document).ready(function () {
            for (let i = 1; i < 5; i++) {
                let base_nav_bottom_li_id = "base-nav-bottom-li-" + i;
                $('#' + base_nav_bottom_li_id).removeClass('active');// remove class
            }
            $("#base-nav-bottom-li-4").addClass('active');
        });
    </script>
{% endblock %}