{% extends 'base.html' %}

{% block title %} 佳乐博客 注册 {% endblock %}

{% block body %}
    <div class="col-md-8">
        <div class="register">
            <div style="font-size: 25px; font-weight: bold;text-align: center;">
                用户注册
            </div>
            <form role="form" action="{% url 'auth:register' %}" method="POST" novalidate="NOVALIDATE">{% csrf_token %}
                <div class="form-group">
                    <label for="username">{{ form.username.label }}</label>
                    {{ form.username }} <span style="color: red">{{ form.username.errors }}</span>

                </div>
                <div class="form-group">
                    <label for="email">{{ form.email.label }}</label>
                    {{ form.email }}<span style="color: red">{{ form.email.errors }}</span>
                </div>
                <div class="form-group">
                    <label for="password">{{ form.password.label }}</label>
                    {{ form.password }}<span style="color: red">{{ form.password.errors.0 }}</span>
                </div>
                <div class="form-group">
                    <label for="confirm_password">{{ form.password_again.label }}</label>
                    {{ form.password_again }}
                    <span style="color: red">
                {{ form.password_again.errors.0 }}</span>
                </div>

                <input type="submit" class="btn btn-default" value="注册"/>
                <!-- <span>已有账号？<a href="/login/">直接登录</a></span> -->
            </form>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function () {
            for (let i = 1; i < 5; i++) {
                let base_nav_bottom_li_id = "base-nav-bottom-li-" + i;
                $('#' + base_nav_bottom_li_id).removeClass('active');// remove class
            }
            $("#base-nav-bottom-li-4").addClass('active');
        });
    </script>
{% endblock %}