{% load staticfiles %}
<style type="text/css">
    .nav-logo {
        float: left;
        height: 40px;
        margin-top: 5px;
        overflow: hidden;
    }

    .nav-logo a {
        margin: 0;
        padding: 0;
    }
</style>
<!--导航-->
<nav class="navbar navbar-fixed-top navbar-default my-head">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#baseNavBar" aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">首页</a>
        </div>
        <div class="collapse navbar-collapse" id="baseNavBar">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <form action="{% url 'blog:search' %}" onsubmit="return checkSearchTitle()" method="post" style="margin-top: 8px;">
                        {% csrf_token %}
                        <input id="search-title" name="title" type="text" minlength="2" maxlength="10"
                               class="form-control" style="width: 50%; display:inline;"
                               placeholder="搜索博文">
                        <button type="submit" class="btn btn-default">搜索</button>
                    </form>
                </li>
                <li><a href="#">关于</a></li>
                <li><a href="#">分类</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        我的爬虫
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" style="width: 100%; padding: 0; margin: 0;">
                        <li><a href="{% url 'web_spider:nba' %}">查看nba今日得分</a></li>
                        <li><a href="{% url 'web_spider:top250' %}">爬取豆瓣top250</a></li>
                        <li><a href="{% url 'blog:404' %}">404</a></li>
                    </ul>
                </li>
                {% if not user.is_authenticated %}
                    <li><a href="{% url 'auth:login' %}">登录</a></li>
                    <li><a href="{% url 'auth:register' %}">注册</a></li>
                {% else %}
                    <li><a href="javascript:">welcome, {{ user.username }}</a></li>
                    <li><a href="{% url 'auth:logout' %}">退出</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<script type="text/javascript" src="{% static 'js/jquery.2.1.4.min.js' %}"></script>
<script>
    function checkSearchTitle() {
        if ($('#search-title').val() == "") {
            alert("请输入搜索的标题");
            return false;
        }
    }
</script>
