{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>bootstrap实现导航栏的响应式布局，当在小屏幕、手机屏幕浏览时自动折叠隐藏</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=0.5, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <style type="text/css">
        .nav-logo {
            float: left;
            height: 40px;
            margin-top: 5px;
            overflow: hidden;
        }

        .nav-logo a {
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
<!--导航-->
<div class="navbar navbar-fixed-top navbar-inverse" style="position: fixed; z-index: 100;
         top: 0; background:rgba(0,0,0,0.8);">
    <div class="container">
        <div class="nav-logo">
            <a class="" href="/">
                <img id="index-logo" class="img-responsive" src="{% static 'img/logo3.png' %}" alt="佳乐的博客"
                     style="height: 100%;width: auto;"/>
            </a>
        </div>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".baseNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse baseNavBar">
            <ul class="nav navbar-nav navbar-left">
                <li class="navbar-form">
                    <form action="{% url 'blog:search' %}" onsubmit="return checkSearchTitle()" method="post">
                        {% csrf_token %}
                        <input id="search-title" name="title" type="text" minlength="2" maxlength="10"
                               class="form-control" style="width: 50%"
                               placeholder="搜索博文">
                        <button type="submit" class="btn btn-default">搜索</button>
                    </form>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">关于</a></li>
                <li><a href="#">分类</a></li>
                <li class="dropdown" style="width: 110px">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="width: 110px">
                        我的爬虫
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" style="width: 100%; padding: 0; margin: 0;">
                        <li><a href="{% url 'web_spider:nba' %}">查看nba今日得分</a></li>
                        <li><a href="{% url 'web_spider:top250' %}">爬取豆瓣top250</a></li>
                        <li><a href="{% url 'blog:404' %}">404</a></li>
                    </ul>
                </li>
                {% if not user.is_authenticated %}
                    <li><a href="{% url 'auth:login' %}">登录</a></li>
                    <li><a href="{% url 'auth:register' %}">注册</a></li>
                {% else %}
                    <li><a href="javascript:">welcome, {{ user.username }}</a></li>
                    <li><a href="{% url 'auth:logout' %}">退出</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>

<script type="text/javascript" src="{% static 'js/jquery.2.1.4.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script>
    function checkSearchTitle() {
        if ($('#search-title').val() == "") {
            alert("请输入搜索的标题");
            return false;
        }
    }
</script>
</body>
</html>