{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} 爬虫爬取 豆瓣电影top250 {% endblock %}

{% block body %}
    <main class="col-md-8 col-xs-8" style="background-color: whitesmoke">
        <h1 style="padding-top: 20px">爬虫爬取 豆瓣电影 Top250</h1>
        <div class="movie-list">

            {% if movie_list %}
                {% for movie in movie_list %}
                    <div class="movie-item">
                        <div class="movie-rank">
                            {{ movie.0 }}
                            <span> </span>
                        </div>
                        <div class="movie-pic">
                            <img width="100" src="{% static 'img/top250'  %}/{{ movie.7 }}"  alt="{{ movie.1 }}">
                        </div>
                        <div class="movie-info">
                            <h4 class="hd">
                                {{ movie.1 }}
                            </h4>
                            <div class="bd">
                                <p class="movie-faculty">
                                    {{ movie.2 }}  
                                    <div style="padding-top: 5px">{{ movie.3 }} </div>
                                </p>
                                <div class="movie-star" style="padding-top: 5px">
                                    <span>{{ movie.5 }}</span>
                                    <span>{{ movie.6 }}</span>
                                </div>
                                <p class="movie-quote" style="padding-top: 10px">
                                    {{ movie.4 }}
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}

        </div>
    </main>
{% endblock %}

{% block js %}
{% endblock %}